%btn {
  border: none;
  padding: 5px 0 5px 0;
  text-align: center;
  color: $light;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 15px;
  min-width: 170px;
  p {
    height:25px
  }
  
}

.btn-{
  &primary, &secondary{
    @extend %btn
  }

  &primary{
    background-color: $primary;
    &:hover {
      background-color: darken($color: $primary, $amount: 10)
    }
  }
  
  &secondary{
    background-color: $secondary;
    &:hover {
      background-color: darken($color: $secondary, $amount: 10)
    }
  }
}
