.home-row1 {
  padding-top: 20px;
  h2 {
    margin-top: 15px;
  }
  h1 {
    border-bottom: 1px solid $light;
  }

  .home-image {
    width: 250px;
    height: 250px;
    margin: 60px auto;
    border: 2px solid $light;
    overflow: hidden;
    box-shadow: 10px 10px 0 0 $light;

    img {
      width: 250px;
    }
  }

  .arow-container {
    height: 60px;
    .arrow {
      font-size: 50px;
      animation: arrow 2s ease-in-out infinite;
    }
  
    @keyframes arrow {
      0% {
        transform: translate(0, -15px);
        opacity: 0;
      }
    
      50% {
        opacity: 0.3;
      }
    
      100% {
        transform: translate(0, 15px);
        opacity: 0;
      }
    }
  }

}

.home-row2 {
  margin-top: 30px;
  padding: 0 30px;

  p {
    text-align: center;
    padding-top: 10px;
  }
}
.contact-container {
  margin: 70px 0;
}