.input-container {
  position: relative;

  .error-message {
    transition: 1s all ease;
    

    p {
      text-align: end;
      display: block;
      height: 30px;
      color: #fb0000;
      opacity: 1;
    }
  }

  .input-text{
    min-width: 300px;
    background-color: transparent;
    color: $light;
    height: auto;
    border: none;
    border-bottom: 1px solid $light;
    border-radius: 0px;
    padding: 0.3rem 0.9rem;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
  
    &:focus, &:hover {
      outline: none;
      border-color: $secondary;
    }
  
    &::placeholder {
      background-color: transparent;
      color: $light;
      opacity: 0.6;
    }
    &.error {
      border-bottom: 1px solid #fb0000 !important;
    }
  }
}
