.nav-container {
  width: 100%;
  justify-content: space-evenly;
  height: 55px;
  position: sticky;
  top: 0;
  background-color: $primary;
  z-index: 1;
  border-bottom: 1px solid #ffffff66;

  .nav-logo {
    text-decoration: none;
    color: $light;
    font-size: 3.5rem;
  }

  .nav-resume {
    border: 2px solid $light;
    padding: 0 15px;
    text-decoration: none;
    color: $light;
    transition: all 0.3s ease;

    &:hover {
      background-color: $light;
      color: $primary;
    }
  }
}