.projects {
  margin-top: 50px;
}
.project-container {
  width: 300px;
  height: auto;
  margin: 20px;
  background-color: #ffffff11;
  

  .project-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .project-card {
    width: 100%;
    height: auto;
    padding-left: 1rem;;

    .project-title {
      width: 100%;
      margin-top: 1rem;
      font-weight: bold;
      
      h6 {
        text-align: start;
      }
    }
    .project-content {
      width: 100%;
      margin-top: 1rem;
      p {
        font-size: 1.6rem;
      }
    }
    .project-info-container {
      flex-wrap: nowrap;

      .project-tags {
        width: 100%;
        justify-content: start;
        p {
          text-align: left;
          margin-right: 15px;
          font-size:1.2rem;
          color: #ffffff66
        }
      }
      .project-links {
        margin-top: 1.5rem;
        width: 100%;
        justify-content: flex-end;
        padding-right: 1rem;
  
        .project-link-page,
        .project-link-github {
          cursor: pointer;
          font-size: 2.8rem;
          margin-left: 1rem ;
          a {
            color: $light;
            text-decoration: none;
          }
        }
      }
    }
  }
  
}