@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #1d1429;
  color: #fdfffc;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #1d1429;
  border-radius: 5px;
}

.flex-fluid, .flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .flex-fluid {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 992px) {
  .flex-fluid {
    justify-content: center;
  }
}

.btn-primary, .btn-secondary {
  border: none;
  padding: 5px 0 5px 0;
  text-align: center;
  color: #fdfffc;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 15px;
  min-width: 170px;
}
.btn-primary p, .btn-secondary p {
  height: 25px;
}

.btn-primary {
  background-color: #1d1429;
}
.btn-primary:hover {
  background-color: #050307;
}
.btn-secondary {
  background-color: #527083;
}
.btn-secondary:hover {
  background-color: #3e5564;
}

.experience {
  margin-top: 50px;
}

.experience-container {
  height: 360px;
  width: 100%;
}
.experience-container .experience-undefined {
  position: relative;
  top: 69px;
  right: 100px;
  transition: 2s all ease;
  opacity: 0;
}
.experience-container .experience-undefined p:nth-child(1) {
  font-size: 2rem;
}
.experience-container .experience-undefined.show {
  opacity: 1;
}
.experience-container .experience-undefined h6, .experience-container .experience-undefined p {
  text-align: right;
}
.experience-container .experience-titan {
  position: relative;
  top: 112px;
  left: 100px;
  transition: 2s all ease;
  opacity: 0;
}
.experience-container .experience-titan p:nth-child(1) {
  font-size: 2rem;
}
.experience-container .experience-titan.show {
  opacity: 1;
}
.experience-container .experience-titan h6, .experience-container .experience-titan p {
  text-align: left;
}
.experience-container .experience-start {
  position: relative;
  top: 123px;
  right: 100px;
  transition: 2s all ease;
  opacity: 0;
}
.experience-container .experience-start p:nth-child(1) {
  font-size: 2rem;
}
.experience-container .experience-start.show {
  opacity: 1;
}
.experience-container .experience-start h6, .experience-container .experience-start p {
  text-align: right;
}
.experience-container .diagram {
  position: relative;
  bottom: 180px;
}
.experience-container .diagram .small {
  width: 5px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.experience-container .diagram .big {
  width: 15px;
  height: 15px;
  background-color: #fdfffc;
  border-radius: 50%;
}
.experience-container .diagram div {
  margin-top: 15px;
}

.footer-container {
  width: 100%;
  height: 190px;
  border-top: 1px solid rgba(255, 255, 255, 0.3333333333);
}
.footer-container .footer-icons {
  font-size: 4rem;
}
.footer-container .footer-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s all ease;
}
.footer-container .footer-icons a:hover {
  opacity: 1;
}
.footer-container .footer-contain {
  position: relative;
  top: 35px;
}

.home-row1 {
  padding-top: 20px;
}
.home-row1 h2 {
  margin-top: 15px;
}
.home-row1 h1 {
  border-bottom: 1px solid #fdfffc;
}
.home-row1 .home-image {
  width: 250px;
  height: 250px;
  margin: 60px auto;
  border: 2px solid #fdfffc;
  overflow: hidden;
  box-shadow: 10px 10px 0 0 #fdfffc;
}
.home-row1 .home-image img {
  width: 250px;
}
.home-row1 .arow-container {
  height: 60px;
}
.home-row1 .arow-container .arrow {
  font-size: 50px;
  animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate(0, 15px);
    opacity: 0;
  }
}

.home-row2 {
  margin-top: 30px;
  padding: 0 30px;
}
.home-row2 p {
  text-align: center;
  padding-top: 10px;
}

.contact-container {
  margin: 70px 0;
}

.input-container {
  position: relative;
}
.input-container .error-message {
  transition: 1s all ease;
}
.input-container .error-message p {
  text-align: end;
  display: block;
  height: 30px;
  color: #fb0000;
  opacity: 1;
}
.input-container .input-text {
  min-width: 300px;
  background-color: transparent;
  color: #fdfffc;
  height: auto;
  border: none;
  border-bottom: 1px solid #fdfffc;
  border-radius: 0px;
  padding: 0.3rem 0.9rem;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}
.input-container .input-text:focus, .input-container .input-text:hover {
  outline: none;
  border-color: #527083;
}
.input-container .input-text::-moz-placeholder {
  background-color: transparent;
  color: #fdfffc;
  opacity: 0.6;
}
.input-container .input-text::placeholder {
  background-color: transparent;
  color: #fdfffc;
  opacity: 0.6;
}
.input-container .input-text.error {
  border-bottom: 1px solid #fb0000 !important;
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  background-color: rgba(29, 20, 41, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  z-index: 21;
}

.modal-content {
  background: #fdfffc;
  color: #000000;
  max-width: 300px;
  padding: 10px 20px;
  min-height: 30vh;
  margin: 10vh auto;
  position: relative;
}

.modal-content .btn {
  display: block;
  margin-bottom: 5px;
  border: none;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
}

.nav-container {
  width: 100%;
  justify-content: space-evenly;
  height: 55px;
  position: sticky;
  top: 0;
  background-color: #1d1429;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.nav-container .nav-logo {
  text-decoration: none;
  color: #fdfffc;
  font-size: 3.5rem;
}
.nav-container .nav-resume {
  border: 2px solid #fdfffc;
  padding: 0 15px;
  text-decoration: none;
  color: #fdfffc;
  transition: all 0.3s ease;
}
.nav-container .nav-resume:hover {
  background-color: #fdfffc;
  color: #1d1429;
}

.projects {
  margin-top: 50px;
}

.project-container {
  width: 300px;
  height: auto;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.0666666667);
}
.project-container .project-image {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}
.project-container .project-image img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.project-container .project-card {
  width: 100%;
  height: auto;
  padding-left: 1rem;
}
.project-container .project-card .project-title {
  width: 100%;
  margin-top: 1rem;
  font-weight: bold;
}
.project-container .project-card .project-title h3 {
  text-align: start;
  font-size: 2rem;
}
.project-container .project-card .project-content {
  width: 100%;
  margin-top: 1rem;
}
.project-container .project-card .project-content p {
  font-size: 1.6rem;
}
.project-container .project-card .project-info-container {
  flex-wrap: nowrap;
}
.project-container .project-card .project-info-container .project-tags {
  width: 100%;
  justify-content: start;
}
.project-container .project-card .project-info-container .project-tags p {
  text-align: left;
  margin-right: 15px;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}
.project-container .project-card .project-info-container .project-links {
  margin-top: 1.5rem;
  width: 100%;
  justify-content: flex-end;
  padding-right: 1rem;
}
.project-container .project-card .project-info-container .project-links .project-link-page,
.project-container .project-card .project-info-container .project-links .project-link-github {
  cursor: pointer;
  font-size: 2.8rem;
  margin-left: 1rem;
}
.project-container .project-card .project-info-container .project-links .project-link-page a,
.project-container .project-card .project-info-container .project-links .project-link-github a {
  color: #fdfffc;
  text-decoration: none;
}

.skills {
  margin-top: 50px;
}

.skill-container {
  width: 300px;
  height: 240px;
  margin: 60px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.0666666667);
}
.skill-container .skill-header {
  position: relative;
  bottom: 20px;
}
.skill-container .skill-header .header-icon {
  font-size: 5rem;
  line-height: 1;
}
.skill-container .skill-header .header-title {
  font-weight: 100;
}
.skill-container .skill-icons {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.skill-container .skill-icons .icon {
  margin: 10px;
}
.skill-container .skill-icons .icon img {
  height: 35px;
}
.skill-container .skill-icons .icon p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

h4 {
  font-size: 2.8rem;
  text-align: center;
}

h5 {
  font-size: 2.5rem;
  text-align: center;
}

h6 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.8rem;
}

* {
  font-family: "Catamaran", sans-serif;
}/*# sourceMappingURL=style.css.map */