---
import Layout from '../layouts/Layout.astro'

import About from '@components/About.astro'
import Contact from '@components/Contact.astro'
import Experience from '@components/Experience.astro'

import Hero from '@components/Hero.astro'
import Projects from '@components/Projects.astro'
import Section from '@components/Section.astro'
import TitleSection from '@components/TitleSection.astro'

// icons
import ExperienceIcon from 'src/icons/ExperienceIcon.astro'
import ProjectsIcon from 'src/icons/ProjectsIcon.astro'
import AboutIcon from 'src/icons/AboutIcon.astro'
import ContactIcon from 'src/icons/ContactIcon.astro'
---

<Layout
  title='Bismark Arroyo - Desarrollador y Progamador web con 3 años de experiencia'
  description='Bismark Arroyo - Desarrollador y Progamador web con 3 años de experiencia'
>
  <div class='mx-auto flex flex-col space-y-24'>
    <Section class='mt-24'>
      <Hero />
    </Section>
    <Section id='experience'>
      <TitleSection>
        <ExperienceIcon class='size-8' />
        Experience
      </TitleSection>
      <Experience />
    </Section>
    <Section id='projects'>
      <TitleSection>
        <ProjectsIcon class='size-8' />
        Projects
      </TitleSection>
      <Projects />
    </Section>
    <Section id='about'>
      <TitleSection>
        <AboutIcon class='size-8' />
        About
      </TitleSection>
      <About />
    </Section>
    <Section id='contact'>
      <TitleSection>
        <ContactIcon class='size-8' />
        Contact
      </TitleSection>
      <Contact />
    </Section>
  </div>
</Layout>
