---
import Layout from '../layouts/Layout.astro';

import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Experience from '@components/Experience.astro';
import Footer from '@components/Footer.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';


---

<Layout>
	
	<div class="container">
		<Hero />
		<Experience />
		<Projects />
		<About />
		<Contact />
		<Footer />
	</div>
</Layout>

<style>
	
	.container {
		max-width: 1200px;
		color: #fff;
		display: flex;
		flex-direction: column;


		margin: 100px auto;
		gap: 80px;
	}
</style>
