---
const personalImageAlt = 'Bismark Arroyo'
---

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-500 [&>p>strong]:font-normal text-pretty order-2 md:order-1 text-lg'
  >
    <p>
      I'm Bismark! I have studied Business Administration and, after years
      working, I have moved to the world of web development. <strong
        >Since then I have been enjoying creating web experiences for users.
      </strong>
    </p>

    <p>
      I've been working on web development since I started my job in 2022 and
      have had a lot of fun doing it. <strong
        >I've worked with a variety of technologies and have built a variety of
        projects.</strong
      > I'm always looking for new challenges and I'm excited to see where my passion
      for web development will take me.
    </p>

    <p>
      I have been working with a larger team in United States remotely
      <strong
        >developing incredible projects for a larger clients in United States.</strong
      >
      Including ecommerce, insurance and hardware brands.
    </p>
  </div>

  <img
    width='200'
    height='200'
    src='/bismark.webp'
    alt={personalImageAlt}
    class='order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20'
    style='object-position: 50% 50%'
  />
</article>
