---
import MailIcon from '@icons/MailIcon.astro'
---

<div class='flex flex-col gap-y-4'>
  <a
    href='mailto:bis.arroyo@gmail.com'
    class='flex gap-x-2 items-center border rounded-full w-fit py-2 px-4 text-gray-800 dark:text-gray-300 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white transition-all duration-200 ease-in-out'
    ><MailIcon class='size-4' />Send an email</a
  >
</div>
