---
interface Props {
  title: string
  description: string
  company: string
  duration: string
  place: string
}
const { title, description, company, duration, place } = Astro.props
---

<span
  class='absolute flex items-center justify-center w-6 h-6 bg-green-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-green-900'
>
  <svg
    class='w-2.5 h-2.5 text-green-800 dark:text-green-300'
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
    aria-hidden='true'
    ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
      d='M3 21l18 0'></path><path d='M9 8l1 0'></path><path d='M9 12l1 0'
    ></path><path d='M9 16l1 0'></path><path d='M14 8l1 0'></path><path
      d='M14 12l1 0'></path><path d='M14 16l1 0'></path><path
      d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16'></path></svg
  >
</span>
<h3
  class='flex items-center mb-1 text-2xl font-semibold text-gray-900 dark:text-white'
>
  {title}

  <span
    class='bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 dark:text-green-300 ms-3'
  >
    {place}
  </span>
</h3>
<time
  class='block mb-2 text-lg font-normal leading-none text-gray-400 dark:text-gray-500'
  >{duration}</time
>
<p class='text-xl font-normal text-gray-500 dark:text-gray-400'>
  {description}
</p>
