---

---

<div class='w-auto grid grid-cols-[2fr_1fr] gap-12'>
  <div class=''>
    <h1 class='mb-4 text-6xl font-bold'>Bismark Arroyo</h1>
    <h2 class='mb-8 text-4xl'>Web Developer</h2>
    <p class='text-xl mt-4 text-pretty'>
      <span class='text-green/80 dark:text-green'>+3 years of experience </span>
      specializing in JavaScript, React, and Next.js. As a self-taught professional,
      I am passionate about technology and continuous learning. I focus on building
      dynamic, scalable, and user-friendly web applications to help people and businesses
      succeed.
    </p>
  </div>
  <div class='glass-bg'></div>
</div>
