---
---

<section id="hero" class="bg-gradient-to-r from-blue-500 to-purple-600 text-white min-h-screen flex items-center">
  <div class="container max-w-3xl mx-auto px-4 py-16">
    <img src="/me.webp" class="hero-image" />
    <h1 class="text-5xl md:text-6xl font-bold mb-4">Bismark Arroyo</h1>
    <h2 class="text-3xl md:text-4xl mb-6">Web Developer</h2>
    <a href="#contact" class="bg-white text-blue-600 px-6 py-3 rounded-full font-semibold hover:bg-blue-100 transition duration-300">
      Get in Touch
    </a>
  </div>
</section>

<style>
  .hero-image{
    height: 200px;
    weight:200px;
    border-radius: 9999999px;
  }
</style>
