---
---

<div class="hero">
	<div class="">
    <h1 class="text-4xl uppercase bold">Bismark Arroyo</h1>
    <h2 class="text-2xl uppercase bold">Web Developer</h2>
    <p class="text-lg mt-4">I am a web developer with 3 years of experience specializing in JavaScript, React, and Next.js. As a self-taught professional, I am passionate about technology and continuous learning. I focus on building dynamic, scalable, and user-friendly web applications to help people and businesses succeed.</p>  
  </div>
  <div class="glass-bg"></div>
</div>

<style>
  .hero {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

  }

</style>