---
import ProjectsItem from './ProjectsItem.astro'

interface Project {
  title: string
  description: string
  image: string
  github: string
  link: string
  tags: string[]
}

const PROJECTS: Project[] = [
  {
    title: 'Ticket app',
    description:
      'Web app for create, managing and buy tickets for events the users create. Built with Next.js, Tailwind CSS, and Supabase. Is currently under construction.',
    image: '/projects/ticket-app-2.webp',
    github: 'https://github.com/bisarroyo/ticket-saas',
    link: 'https://ticket.bismark.dev/',
    tags: ['NEXT', 'TAILWIND', 'SUPABASE']
  }
]
---

<div class='flex flex-col gap-y-16'>
  {PROJECTS.map((project) => <ProjectsItem {...project} />)}
</div>
