---
const projects = [
  {
    title: "Ticket Saas Platform",
    description: "A full-stack app for create events and manage tickets, built with Next js and Supabase.",
    image: "/projects/ticket.webp",
    link: "https://github.com/bisarroyo/ticket-saas"
  },
  {
    title: "Paint JS",
    description: "An app using vanilla javascript as a copy of the old version of paint.",
    image: "/projects/paint.webp",
    link: "https://github.com/bisarroyo/paint-js"
  },
  {
    title: "Node API",
    description: "A backend app for handle user logins and user info with tasks.",
    image: "/projects/node.webp",
    link: "https://github.com/bisarroyo/node-crud"
  }
];
---

<section id="projects" class="py-20 bg-gray-100">
  <div class="container max-w-6xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-8 text-center">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => (
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <img src={project.image || "/placeholder.svg"} alt={project.title} class="w-full h-48 object-cover hover:scale-105 transition-all transition-500ms" />
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
            <p class="text-gray-600 mb-4">{project.description}</p>
            <a href={project.link} class="text-blue-600 hover:underline">View Project</a>
          </div>
        </div>
      ))}
    </div>
    <p>More projects on my <a href="https://github.com/bisarroyo?tab=repositories" target="_blank" class="underline mt-5">Github Page</a></p>
  </div>
</section>

