*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $primary;
  color: $light;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 5px;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-column {
  @extend %flex;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-fluid {
  @extend %flex;
  @include respond(md) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  @include respond(lg) {
    justify-content: center;
  }
}
